/* css styles */

/* pink: #D4A0A7 
   gray: #6D8EA0
   greenish black: #182825 */
   
@import url("https://fonts.googleapis.com/css?family=Rubik+Beastly");

@import url("https://fonts.googleapis.com/css?family=Red+Hat+Mono");

:root {
  --header-font: "Rubik Beastly";

  --main-font: "Red Hat Mono";

  --beige: #010101;

  --gray: #485b63;
  
  --hover-yellow: #FFDB58;
}
   
* {
  font-family: monospace;
  font-size: 16px;
}

.navbar {
  background: #d3d3d3;
}

.navbar-title {
    font-family: var(--header-font);
    font-size: 24pt;
    color: #010101;
}



.quarto-listing-category-title {
  color: var(--hover-yellow);
}

.listing-category:hover {
  background-color: var(--hover-yellow);
  transition-delay: 0.1s;
}

.category:hover {
  color: var(--hover-yellow);
}

.menu-text {
  color: #010101;
}

.menu-text:active {
  font-weight: bold;
}

.menu-text:hover {
  color: var(--hover-yellow);
}

.nav-link {
  color: #010101;
}

.nav-link:active {
  color: #010101;
}

