/* css styles */

/* pink: #D4A0A7 
   gray: #6D8EA0
   greenish black: #182825 */
   
@import url("https://fonts.googleapis.com/css?family=Rubik+Beastly");

@import url("https://fonts.googleapis.com/css?family=Red+Hat+Mono");

:root {
  --header-font: "Rubik Beastly";

  --main-font: "Red Hat Mono";

  --beige: #010101;

  --gray: #485b63;
}
   
* {
  font-family: monospace;
  font-size: 16px;
}

.navbar {
  background: #6D8EA0;
}

.navbar-title {
    font-family: var(--header-font);
    font-size: 24pt;
    color: #010101;
}

.quarto-title-banner {
  background: #182825;
}

.quarto-listing-category-title {
  color: #182825;
}

.listing-category:hover {
  background-color: #D4A0A7;
  transition-delay: 0.1s;
}

.category:hover {
  color: #D4A0A7;
}

